# Troque o nome do banco de dados, usuário e senha conforme o seu ambiente de desenvolvimento
# <User> = usuário
# Password = senha

DATABASE_URL="postgresql://<User>:<Password>@localhost:5432/game-hub"

JWT_SECRET="sua string secreta para o token jwt"

OWNER_EMAIL="email do PRODUCT OWNER"

PRODUCTION_URL="https://someURL.onrender.com/api"
